.secondary-photo {
    display: block;
    width: 80%;
    margin-bottom: 6%
}

.media-circle {
    border-radius: 100%
}

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    text-align: left;
  }
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril", serif;
  font-size: 1.9rem;
}

/* 
Sidebar nav.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.75;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}
 */

div.refs-row {
	font-size: 0.8rem;
}

div.reference {
	line-height: 1;
	margin-bottom: 0.5em;
	margin-top: 0.7em;
}

ol.bibliography{
	font-size: 0.8rem;
	line-height: 1;
}

.bibtex-entry {
	font-size: 0.8rem;
}

div.bibtex pre { 
	font-size: 75%; 
	overflow: auto;  
	width: 100%; 
}

@media (min-width: 48em) {
  .content {
    max-width: 42rem;
  }
}

.highlighted { 
	background:yellow 
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}