---
---
<div class="refs-row">
<div class="reference">
{{ reference }}
</div>
<!-- <br> -->
  <span class="refs-link"><a href="javascript:void(0)" onclick="$('#bibtex-entry-{{key}}').slideToggle();">BibTeX</a></span>
  {% if entry.doi %} &middot; <span class="refs-link"><a href="{{entry.doi}}">DOI</a></span> {% endif %}
  {% if entry.pdf %} &middot; <span class="refs-link"><a href="{{entry.pdf}}">PDF</a></span> {% endif %}
  {% if entry.slides %} &middot; <span class="refs-link"><a href="{{entry.slides}}">Slides</a></span> {% endif %}
  {% if entry.poster %} &middot; <span class="refs-link"><a href="{{entry.poster}}">Poster</a></span> {% endif %}
  {% if entry.data %} &middot; <span class="refs-link"><a href="{{entry.data}}">Data</a></span> {% endif %}
  {% if entry.tool %} &middot; <span class="refs-link"><a href="{{entry.tool}}">Tool</a></span> {% endif %}

  <div class="bibtex noshow">
  	<pre class="bibtex-entry" id="bibtex-entry-{{key}}" style="display: none;">{{ entry.bibtex }}</pre>
  </div>
</div>
