---
layout: archive
author_profile: true
sidebar:
  - text: "**Campus contact:**"
  - text: '<ul class="author__urls social-icons">
  			<li><i class="far fa-building"></i> <span class="label">&nbsp;Wean Hall 5115</span></li>
  			<li><i class="fas fa-phone"></i> <span class="label">&nbsp;(412) 268-1048</span></li>
  		</ul>'
---

{{ content }}

<!-- 
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
 -->
